html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}
.sign {
	display: inline;
	font-size: 24px;
	position: absolute;
	top: 30px;
	right: 100px;
	border-radius: 500px
}
.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block_header{
	width: 100%;
	height: 100px;
	display: block;
	background-color: #0066FF;
	border: 1px solid black; 
}


.background.block_2 {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 200px;
	background-color: #C0C0C0;
	margin-top: 100px; 
	border: 1px solid black;
}
