body {
	margin: 0;
	margin-bottom: 0;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.navbar {
	/*position: fixed;*/
	width: 100%;
}

.form {
	margin: 0 auto;
	width: 50%;
}